.text-p {
    margin-bottom: 20px;
    color: white;
}

td {
    padding: 10px;
}

.text {
    color: #ffffff;
    text-align: center;
    font-size: 1.5vw;
}

.td-equal {
    padding: 10px;
    width: 30%;
}